# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignore raw data
data/

# but don’t ignore our processed cities file
!data/world_cities_updated.csv